body * {
	font-family: arial, verdana, sans-serif;
}

body {
	font-weight: normal;
	font-size: 10pt;
	}


/* navbar */
body.navbar {
	background-color: #fff;
	color: #333;
	font-family: verdana,arial,serif;
	margin: 0px 0px 0px 0px;
	}

.navbarlogo {
	border-bottom: 1px #000 solid;
	padding: 5px;
	}

body.navbar div.navsection {
	padding: 5px;	
}

.navsection {
	margin: 5px 0 10px 0;
	color: #333;
	}
	
.navsectiontitle {
	font-size: 10pt;
	font-weight: bold;
	background-color: #fff;
	border: 1px #666 solid;
	padding: 2px;
	}

div.navsectionlinks {
	margin: 3px 0 0 0;
	}

ul.navsectionlinks {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

ul.navsectionlinks li {
	}

ul.navsectionlinks li a {
	color: #333;
	font-weight: normal;
	font-size: 8pt;
	text-decoration: none;	

	padding: 0 0 0 15px;
	background: transparent url(../images/arrow-menu.png) no-repeat scroll 0 center
	}

ul.navsectionlinks li ul {
	margin: 0px;
	padding: 0 0 0 30px;
	list-style: disc;
	}

ul.navsectionlinks li ul li {
	list-style-type: none;
	}

ul.navsectionlinks li a:hover {
	color: #333;
	text-decoration: underline;
	}

ul.navsectionlinks li ul li a {
	color: #333;
	background: none;
	padding: 0;
	}

ul.navsectionlinks li ul li a:hover {
	color: #333;
	text-decoration: underline;
	}

ul.navsectionlinks li ul li ul {
	margin: 0px;
	padding: 0 0 0 15px;
	list-style: circle;
	}


.navbarsearch {
	margin: 10px 0 0 0;
	}

.navbarsearch fieldset {
	border: none;
	margin: 0px 0px 0px 0px
	}

.navbarsearch fieldset legend {
	font-size: 8pt;
	}

.navbarsearch input{
	font-size: 8pt;
	color: black;
	background-color: white;
	border-top: 1px #666666 solid;
	border-right: 1px #666666 solid;
	border-bottom: 1px #999999 solid;
	border-left: 1px #999999 solid;
	}

	

/* main page */
#splashpage{
	text-align: center;
	}
	
#mainbrandsplash{
	font-size: 12pt;
	font-weight: bold;
	margin: 0 0 35px 0;
	}

#maincopy{
	margin: 0 0 15px 0;
	}
	
#currentversioninfo{
	font-size: 12pt;
	}
#currentversioninfo .version{
	font-size: 14pt;
	font-weight: bold;
	}
#currentversioninfo .releasedate{
	font-size: 11pt;
	margin: 5px 0 0 0;
	}
#currentversioninfo .whatsnew{
	font-size: 11pt;
	font-weight: bold;
	margin: 10px 0 0 0;
	}

#updateversioninfo{
	margin: 15px auto 50px auto;
	width: 400px;
	}
.updatechecksdisabled{
	background-color: #FF9F9F;
	border: 1px solid red;
	padding: 10px;
	}
.updatechecksdisabled div.warningmessage{
	font-weight: bold;
	}
#updateversioninfo div.submessage{
	clear: left;
	}
.updateavailable{
	background-color: #9FD4FF;
	border: 1px solid blue;
	padding: 10px;
	}
.updateavailable div.updatemessage{
	font-size: 12pt;
	font-weight: bold;
	}
	
#splashpage #mainfooter{
	margin: 25px 0 0 0;
	font-size: 8pt;
	}
#splashpage #mainfooter .disclaimer{
	width: 80%;
	margin: auto;
	}
#splashpage #mainfooter .logos{
	margin: 15px 0 0 0;
	}


a img {
	border: none;
	}

