@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 9pt;
	background: #D7D8DA;
	margin: 5px;
}

img { border: 0px }

.color a {
	color: #ffffff;
	text-decoration: none;
}

.gray a {
	color: #000000;
	text-decoration: none;
}

strong {
	font-weight: bolder;
}

em {
	font-style: italic;
}

p.legal {
	font-size: 0.8em;
	margin: 10px auto;
}

p { margin: 15px auto; }

table td, table th {
	vertical-align: middle;
	margin: 0 0;
	padding: 0 0;
}

table {
	border-collapse: collapse;
}

div.tacheader-link {
	cursor: pointer;
}

div.tacheader-status-container {
	border: 1px #a0a0a0 solid;
	width: 180px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.tacheader-status {
	font-size: 9pt;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #c0c0c0;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.tacheader-monitor {
	font-size: 8pt;
	padding: 2px;
	text-align: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.tacheader-overall-status-item {
	color: #000000;
	padding: 3px;
}

div.tacheader-status-up {
	background-color: #00CC33;
}

div.tacheader-status-down {
	background-color: #FF3300;
}

div.tacheader-status-down-acknowledged {
        border: 1px #FF3300 solid;
	background-color: #F5A9A9;
}

div.tacheader-status-down-handled {
        border: 1px #FF3300 solid;
        color: #FF3300;
        font-weight: bolder;
}

div.tacheader-status-unreachable {
	background-color: #E066FF;
}

div.tacheader-status-unreachable-acknowledged {
        border: 1px #E066FF solid;
	background-color: #E68BFF;
}

div.tacheader-status-unreachable-handled {
        border: 1px #E066FF solid;
        color: #E066FF;
        font-weight: bolder;
}

div.tacheader-status-ok {
	background-color: #00CC33;
}

div.tacheader-status-warning {
	background-color: #FFA500;
}

div.tacheader-status-warning-acknowledged {
        border: 1px #FFA500 solid;
	background-color: #FFBF4F;
}

div.tacheader-status-warning-handled {
        border: 1px #FFA500 solid;
        color: #FFA500;
        font-weight: bolder;
}

div.tacheader-status-critical {
	background-color: #FF3300;
}

div.tacheader-status-critical-acknowledged {
        border: 1px #FF3300 solid;
	background-color: #F5A9A9;
}

div.tacheader-status-critical-handled {
        border: 1px #FF3300 solid;
        color: #FF3300;
        font-weight: bolder;
}

div.tacheader-status-unknown {
	background-color: #E066FF;
}

div.tacheader-status-unknown-acknowledged {
        border: 1px #E066FF solid;
	background-color: #E68BFF;
}

div.tacheader-status-unknown-handled {
        border: 1px #E066FF solid;
        color: #E066FF;
        font-weight: bolder;
}

div.tacheader-status-pending {
	background-color: #51BCD7;
}

table.tacheader-monitor-performance-container {
	font-size: 9pt;
	margin: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tacheader-monitor-performance-container a {
	color: #666666;
	text-decoration: none;
}
