pkg
subst
pkginfo
Prototype
icinga.SPARC.pkg.tar.gz
autom4te.cache
config.log
config.status
daemon-init
daemon-init-redhat
rc.ido2db
Makefile
Debug
p1.pl
.cproject
.project
.settings
tags
*.dSYM
:2*
.Apple*
._*
.DS_Store
.deps/
.libs/
*.la
*.lo
*.gcno
*.gcov
/gmon.out
/tools/todo
