<michael.friedrich@netways.de> <michael.friedrich@gmail.com>
<michael.friedrich@netways.de> <Michael.Friedrich@netways.de>
<michael.friedrich@netways.de> <michael.friedrich@univie.ac.at>
<gunnar.beutner@netways.de> <gunnar@beutner.name>
<michael_luebben@web.de> <michael@luebben-home.de>
<lars.engels@0x20.net> <engels@NB011868.bk.fin.local>
<hir3npatel@gmail.com> <hirenp@firebird.(none)>
<cmr@financial.com> <cmr@HUB8071NC4.financial.com>
<icinga@flatto.net> <assaf@AikiLinux-laptop.(none)>
<forni.massimo@gmail.com> <massimo@mforni-laptop.(none)>
<formorer@debian.org> <formorer@grml.org>
<bernd_a@gmx.de> <wopfel@gmail.com>
