#################################################################
# These are newly ADDED config options for IDOMOD.CFG only.
#
# NOTE: Update your existing configuration with those new ones,
#	if needed. You are advised to do so, in order to get the
#	full Icinga experience!
#################################################################

# changed default value 0->1 #

# DUMP CUSTOMVAR STATUS
# Custom variables are dumped as required configuration on core startup,
# but also during runtime (there may be modifications via external commands).
# Since these updates happen on each host/service/contact status update without
# any possibility to filter via data_processing_options, this is made a seperate
# config option.
# Icinga Web (2) will require the data for its feature set, so it's enabled by
# default.
#
# Values: 0 = disabled
#         1 = enabled (default)

dump_customvar_status=1
